python-dotenv==1.0.0
matplotlib
matplotlib-inline==0.1.7
mysql-connector-python==9.4.0
# mysqlclient==2.2.7
numpy
pandas==2.3.3
psycopg2==2.9.12
SQLAlchemy==2.0.44
streamlit==1.57.0
streamlit-echarts==0.6.0